@import "./color.scss";
@import "./font.scss";
.banner-wrapper {
  background-color: #f5f5f7;
}
.banner-wrapper__box-inner {
  display: flex;
  align-items: center;
  padding: 0.9375rem 1.875rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner-wrapper__content-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.banner-wrapper__price-box {
  text-align: end;
  p {
    display: block;
    font-size: 0.75rem;
    opacity: 0.5;
  }
}
.banner-wrapper__entry-title {
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  strong {
    font-size: 1rem;
    font-weight: 600;
    background-color: #ffbd27;
    padding: 4px 15px;
    border-radius: 34px;
    margin: 0 5px;
  }
}
.banner-wrapper__price {
  P {
    font-weight: 600;
    opacity: 1;
  }
  span {
    font-size: 1.625rem;
    font-weight: 700;
    color: #ef262c;
  }
}
.banner-wrapper__btn-link {
  a {
    font-size: 0.75rem;
    height: 2.125rem;
    background-color: $color-link;
    border-color: none;
    padding: 0 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.03px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
    border-radius: 50px;
  }
}
