@import "./color.scss";
@import "./font.scss";
.brand-item {
  padding: 2.5rem;
  cursor: pointer;
  @media all and (min-width: 551px) and (max-width: 750px) {
    padding: 2.5rem;
  }
  @media all and (max-width: 550px) {
    padding: 1.3rem;
  }
}
.brand-item__img-detail {
  max-width: 100%;
  opacity: 0.3;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}
