$color-bs-blue: #0d6efd;
$color-bs-indigo: #6610f2;
$color-bs-purple: #6f42c1;
$color-bs-pink: #d63384;
$color-bs-red: #dc3545;
$color-bs-orange: #fd7e14;
$color-bs-yellow: #ffc107;
$color-bs-green: #198754;
$color-bs-teal: #20c997;
$color-bs-cyan: #0dcaf0;
$color-bs-white: #fff;
$color-bs-gray: #6c757d;
$color-bs-gray-dark: #343a40;
$color-bs-primary: #0d6efd;
$color-bs-secondary: #6c757d;
$color-bs-success: #198754;
$color-bs-info: #0dcaf0;
$color-bs-warning: #ffc107;
$color-bs-danger: #dc3545;
$color-bs-light: #f8f9fa;
$color-bs-dark: #212529;
$color-background: #fff;
$color-main-text: #021523;
$color-text-light: #818ea0;
$color-primary: #041e42;
$color-secondary: #ffbd27;
$color-link: #0070dc;
$color-form-border: #d9dde3;
$color-form-placeholder: #9aa5b3;
$color-theme-danger: #ef262c;
$color-theme-warning: #ff5c00;
$color-theme-info: #e8e8e8;
$color-theme-border: #e5e8ec;
$color-theme-success: #00a046;
$color-theme-light: #f2f3f5;
$color-product-fade-border: #e0e5ea;
$color-shop-button: #00a046;
$color-shop-button-active: #037535;
